//  Amanda Matti 
//  Webbutveckling III
//  Mittuniversitetet 2018 

/* Colors */

$color1: #FEE5E0;
$color2: #FBF7F4;
$color3: #A8D1E7;
$color4: #8A847F;
$color5: #000;

//Button colors
$button_yes: rgb(56, 138, 56);
$button_no: rgb(177, 66, 66);
$button_maybe: rgb(189, 134, 32);

$color1_light: lighten($color1, 20%);
$color1_dark: darken($color1, 15%);



